* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.social-links a {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  background-color: #493030;
}

nav ul li {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #fcd6d6;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #594848;

}

.box img{
    height: 100;
    width: 150;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #d5cccc;
  color: #0b0b0b;
  bottom: auto;
}

